<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- utilities-->
    <package id="crystaldiskmark" />
    <package id="gpg4win" />
    <package id="hwinfo" />
    <package id="smartmontools" />
    <package id="zbar" />

    <!-- productivity -->
    <package id="bitwarden" />
    <package id="libreoffice-still" />

    <!-- messengers -->
    <package id="discord" />
    <package id="telegram" />

    <!-- media -->
    <package id="avidemux" />
    <package id="inkscape" />
    <package id="krita" />
    <package id="spotify" />
    <package id="streamlabs-obs" />
    <package id="vlc" />

  </packages>
</xml>
