<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- basic tools -->
    <package id="7zip" />
    <package id="far" />
    <package id="iperf3" />
    <package id="rclone" />
    <package id="restic" />
    <package id="tailscale" />
    <package id="windirstat" />

    <!-- browsers -->
    <package id="firefox" />
    <package id="googlechrome" />
  </packages>
</xml>
