<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- basic tools -->
    <package id="7zip" /><!-- partially under unRAR license, see details https://www.7-zip.org/ -->
    <package id="far" />
    <package id="iperf3" />
    <package id="rclone" />
    <package id="restic" />
    <package id="synctrayzor" />
    <package id="tailscale" /><!-- proprietary -->
    <package id="windirstat" />

    <!-- browsers -->
    <package id="firefox" />
    <package id="googlechrome" /><!-- proprietary -->
  </packages>
</xml>
