<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- libraries, terminal-based tools -->
    <package id="bitwarden-cli" />
    <package id="git" />
    <package id="jq" />

    <!-- desktop software -->
    <package id="chromium" />
    <package id="firefox" />
    <package id="meld" />
    <package id="sublimemerge" />
    <package id="sublimetext3" />
    <package id="vscode" />
    <package id="winscp" />
  </packages>
</xml>
