<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- libraries, terminal-based tools -->
    <package id="curl" />
    <package id="git" />
    <package id="jq" />

    <!-- languages -->
    <package id="golang" />
    <package id="msys2" /><!-- for ruby -->
    <package id="nodejs" />
    <package id="ruby" />

    <!-- desktop software -->
    <package id="chromium" />
    <package id="firefox" />
    <package id="meld" />
    <package id="sublimemerge" /><!-- proprietary -->
    <!--<package id="sublimetext3" />--><!-- proprietary -->
    <package id="vscode" /><!-- proprietary -->
    <package id="winscp" />
  </packages>
</xml>
