<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- basic tools -->
    <package id="7zip" />
    <package id="bitwarden-cli" />
    <package id="choco-cleaner" />
    <package id="git" />
    <package id="gpg4win" />
    <package id="jq" />
    <package id="rclone" />
    <package id="windirstat" />
    <package id="zerotier-one" />

    <!-- development, terminal-based -->
    <package id="ffmpeg" />
    <package id="imagemagick" />
    <package id="openssl" />
    <package id="python" />
    <package id="sqlite" />

    <!-- development, GUI -->
    <package id="chromium" />
    <package id="conemu" />
    <package id="far" />
    <package id="firefox" />
    <package id="github-desktop" />
    <package id="hyper" />
    <package id="meld" />
    <package id="sublimemerge" />
    <package id="sublimetext3" />
    <package id="sysinternals" />
    <package id="terminus" />
    <package id="vscode" />
  </packages>
</xml>
