<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- basic tools -->
    <package id="7zip" />
    <package id="choco-cleaner" />
    <package id="far" />
    <package id="googlechrome" />
    <package id="hwinfo" />
    <package id="meld" />
    <package id="windirstat" />

    <!-- desktop software -->
    <package id="avidemux" />
    <package id="bitwarden" />
    <package id="krita" />
    <package id="libreoffice-still" />
    <package id="spotify" />
    <package id="streamlabs-obs" />
    <package id="vlc" />

    <!-- messengers -->
    <package id="discord" />
    <package id="telegram" />
    <package id="viber" />
  </packages>
</xml>
