<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- utilities -->
    <package id="click-monitor-ddc" />
    <package id="crystaldiskmark" />
    <package id="hwinfo" />
    <package id="sharpkeys" />
    <package id="zbar" />
    <package id="smartmontools" />

    <!-- desktop software -->
    <package id="avidemux" />
    <package id="bitwarden" />
    <package id="krita" />
    <package id="libreoffice-still" />
    <package id="spicetify-cli" />
    <package id="spotify" />
    <package id="steam" />
    <package id="streamlabs-obs" />
    <package id="vlc" />

    <!-- messengers -->
    <package id="discord" />
    <package id="telegram" />
  </packages>
</xml>
