<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <!-- basic tools -->
    <package id="7zip" />
    <package id="bitwarden-cli" />
    <package id="choco-cleaner" />
    <package id="git" />
    <package id="jq" />

    <package id="rclone" />
    <package id="zerotier-one" />

    <!-- development -->
    <package id="ffmpeg" />
    <package id="imagemagick" />
    <package id="openssl" />
    <package id="python" />
    <package id="sqlite" />

    <package id="conemu" />
    <package id="far" />
    <package id="github-desktop" />
    <package id="hyper" />
    <package id="meld" />
    <package id="sublimemerge" />
    <package id="sublimetext3" />
    <package id="sysinternals" />
    <package id="terminus" />
    <package id="vscode" />

    <package id="chromium" />
    <package id="firefox" />
  </packages>
</xml>
