<?xml version="1.0" encoding="utf-8"?>
  <packages>
    <package id="7zip" />
    <package id="bitwarden" />
    <package id="choco-cleaner" />
    <package id="discord" />
    <package id="far" />
    <package id="ffmpeg" />
    <package id="firefox" />
    <package id="git" />
    <package id="github-desktop" />
    <package id="hwinfo" />
    <package id="imagemagick" />
    <package id="krita" />
    <package id="libreoffice-still" />
    <package id="openssl" />
    <package id="python" />
    <package id="rclone" />
    <package id="sqlite" />
    <package id="steam" />
    <package id="streamlabs-obs" />
    <package id="sublimemerge" />
    <package id="sublimetext3" />
    <package id="vlc" />
    <package id="winfsp" />
    <package id="zbar" />
    <package id="zerotier-one" />
  </packages>
</xml>
